$color-green: #455c40;
$color-wine: #80374b;
$color-wine-light: #eaced6;
$color-white: #fff;

$custom-colors: (
  "green": (
    $color-green,
    #fff,
  ),
  "green-light": (
    #b1d2c2,
    #fff,
  ),
  "wine": (
    $color-wine,
    #fff,
  ),
);

input[type="checkbox"]:checked {
  background: $color-green;
  color: white;
}

input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: lightgray;
  height: 16px;
  width: 16px;
  border: 1px solid white;
  color: white;
}

input[type="checkbox"]:after {
  content: " ";
  position: relative;
  left: 40%;
  top: 20%;
  width: 15%;
  height: 40%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(50deg);
  display: none;
}

input[type="checkbox"]:checked:after {
  display: block;
}

.tag.is-green {
  background-color: $color-green;
  color: $color-white;
}

.message.is-wine {
  background-color: $color-wine-light;

  .message-header {
    background-color: $color-wine;
  }
  .message-body {
    border-color: $color-wine;
  }
}

.page-section {
  margin-top: 60px;
  margin-bottom: 60px;
}

#form {
  background-color: white !important;
  label.checkbox svg {
    margin-left: 5px;
    vertical-align: text-top;
  }
  button.button svg {
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: text-top;
  }

  label.checkbox {
    margin-right: 25px;
    vertical-align: middle;
    .tag {
      margin-right: 15px;
      margin-left: 5px;
      vertical-align: top;
    }
  }
  label.label {
    margin-right: 15px;
    font-weight: 500;
    //width: 100px;
    //min-width: 20%;

    svg {
      margin-left: 8px;
      vertical-align: middle;
    }
  }

  .column {
    padding: 0px;
  }

  .column:last-of-type {
    padding-bottom: 20px;
  }

  .card-header {
    background-color: #b1d2c2 !important;
  }

  .card-content {
    padding: 1.5rem 0 !important;
  }
  .person-block {
    margin-bottom: 40px;
    background-color: white !important;
  }

  input[type="text"] {
    width: 200px;
    border-radius: 5px !important;
    border-width: 1px !important;
  }

  input.team-name-input {
    width: 300px;
    border-radius: 5px !important;
    border-width: 2px !important;
  }

  .person-tag {
    margin-bottom: 2px !important;
    display: inline-flex;
    font-weight: bolder;
    text-transform: uppercase;
  }

  .person-information {
    padding-left: 2em;
  }

  .person-tag-category {
    padding-right: 0px !important;
    vertical-align: baseline;
  }

  #send-form-button {
    margin-bottom: 10px;
  }
}

#header {
  .tabs {
    ul {
      li.is-active {
        a {
          color: $color-green;
          font-weight: 800;
        }
      }
      li {
        a {
          color: $color-white;
          font-weight: 300;
        }
        &:hover {
          a {
            color: $color-green;
            font-weight: 800;
          }
        }
      }
    }
  }
}

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
