label.checkbox svg {
  margin-left: 5px;
  vertical-align: text-top;
}
button.button svg {
  margin-left: 5px;
  vertical-align: text-top;
}

label.checkbox {
  margin-right: 25px;
  vertical-align: middle;
}
label.checkbox .tag {
  margin-right: 15px;
  margin-left: 5px;
  vertical-align: top;
}
label.label {
  margin-right: 15px;
  font-weight: 500;
  width: 250px;
  min-width: 250px;
}
label.label svg {
  margin-left: 8px;
  vertical-align: middle;
}

.person-block {
  margin-bottom: 40px;
}

input[type="text"] {
  width: 200px;
  border-radius: 5px !important;
  border-width: 1px !important;
}

input.team-name-input {
  width: 300px;
  border-radius: 5px !important;
  border-width: 2px !important;
}

.page-section {
  margin-bottom: 60px;
}

.person-tag {
  margin-bottom: 2px !important;
  display: inline-flex;
  font-weight: bolder;
  text-transform: uppercase;
}

.person-information {
  padding-left: 20px;
}

.person-tag-category {
  padding-right: 0px !important;
  vertical-align: baseline;
}
.person-tag .person-tag-remove {
  cursor: pointer;
  padding: 0px 10px;
  height: 22px;
  /* color: red !important;
  background-color: white !important;
  border: 2px solid lightgreen; */
}
.person-tag .person-tag-remove:hover {
  cursor: pointer;
  color: red !important;
  background-color: white !important;
  border: 2px solid lightgreen;
}

#send-form-button {
  margin-bottom: 10px;
}
